<div appBlocksStyle
     #blockDirective='blockStyle'
     (renderComplete)="directiveRenderComplete($event)"
     *ngIf="tickets"
     [selector]="'.ticket-item'"
     [initFirst]="true"
     class="container">
	<div>Всего туров: {{tourWrap.childElementCount}}</div>
	<div class="mb-5">Активный тур: {{blockDirective.activeElementIndex + 1}}</div>
	<div class="row"
	     #tourWrap>
		<div *ngFor="let item of tickets" class="col-md-6 col-xxl-4 mb-4 ticket-item">
			<div class="ticket-inner">
				<div class="ticket-img"
				     [ngStyle]="{background: 'url('+' /assets/img/'+item.img+')'}">
					<div class="ticket-price">{{item.price}}</div>
				</div>
				<div class="ticket-inner__content">
					<h3 class="ticket-inner__title">
						{{item.name}}
					</h3>
					<p class="ticket-inner__desc">
						{{item.description}}
					</p>
				</div>
				<button pButton
				        (click)="goToTicketInfoPage(item)"
				        class="mx-3 mb-3 d-block">Купить билет</button>
			</div>
		</div>
	</div>
</div>