.ticket-inner {
	background: #f2f3f4;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.ticket-inner {
	&__content {
		width: 100%;
		min-height: 200px;
		padding: 16px;
		flex: 1;
	}

	&__title {
		color: #5578d5;
	}

	&__desc{
		color: #5d5d5d;
	}
}


.ticket-img {
	display: block;
	width: 100%;
	height: 250px;
	position: relative;
}

.ticket-price {
	text-align: right;
	font-weight: 700;
	position: absolute;
	bottom: 0;
	right: 1rem;
	transform: translateY(33%);
	padding: 0.3rem 1rem;
	border-radius: 5px;
	background: #ff8a1a;
	color: #ffffff;
	text-shadow: 1px 1px 1px rgba(#000, 0.5);
	box-shadow: 3px 0 30px rgba(#000, 0.6);
}

.ticket-item{
	transform: translateY(0);
	transition: all 0.25s ease-in-out;

	& .ticket-inner{
		box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
		transition: all 0.25s ease-in-out;
	}
}

.selected, .ticket-item:hover{
	transform: translateY(-5px) scale(1.02);
	transition: all 0.25s ease-in-out;
	& .ticket-inner {
		background: #e9eef5;
		box-shadow: 0 30px 50px rgba(0, 0, 0, 0.4);
		transition: all 0.25s ease-in-out;
	}
}
