<div class="mb-3">
<p-dropdown [options]="menuTypes"
            [(ngModel)]="selectedMenuType"
            (onChange)="changeType($event)"
			optionLabel="label">
	</p-dropdown>
</div>

<div>
	<p-dropdown [options]="tourTypes"
	            optionLabel="label"
	            (onChange)="changeTourType($event)">
	</p-dropdown>
	<div class="mt-3">
		<p-calendar (onSelect)="selectDate($event)" ></p-calendar>
	</div>

	<div class="mt-3">
		<button pButton type="button" label="Ошибка" (click)="initRestError()"></button>
	</div>
</div>