<div class="container">

	<p-tabView>
		<p-tabPanel [cache]="true" header="Смена пароля">
			<ng-template pTemplate="content">
				<app-change-password></app-change-password>
			</ng-template>
		</p-tabPanel>
		<p-tabPanel [cache]="true" header="Статистика">
			<ng-template pTemplate="content">
				<app-statistic></app-statistic>
			</ng-template>
		</p-tabPanel>
        <p-tabPanel *ngIf="isAdmin" [cache]="true" header="Добавить тур">
            <ng-template pTemplate="content">
                <app-tour-loader></app-tour-loader>
            </ng-template>
        </p-tabPanel>
	</p-tabView>
</div>

<p-toast position="top-left"></p-toast>
