<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
			<span class="p-float-label">
			    <input id="oldPassword" type="password"
			           formControlName="oldPassword"
			           pInputText>
			    <label for="oldPassword">Старый пароль</label>
			</span>

	<span class="p-float-label mt-5">
	    <input id="newPassword" type="password"
	           formControlName="newPassword"
	           pInputText>
	    <label for="newPassword">Новый пароль</label>
	</span>

	<span class="p-float-label mt-5">
	    <input id="newPasswordCheck" type="password"
	           formControlName="newPasswordCheck"
	           pInputText>
	    <label for="newPasswordCheck">Новый пароль еще раз</label>
	</span>

	<button class="mt-5" pButton type="submit"
	        [disabled]="!changePasswordForm.valid"
	        label="Сменить пароль" ></button>
</form>