<div class="container">
	<button class="btn btn-outline-dark mb-5" routerLink="/tickets/tickets-list">Назад</button>
	<div *ngIf="ticket" class="row">
		<div class="col-lg-6">
			<img src="{{ticket.img}}" alt="{{ticket.name}}" class="ticket-info__img w-100">
		</div>
		<div class="col-lg-6">
			<div class="ticket-info">
				<h1>{{ticket.name}}</h1>
				<div class="ticket-info__price">{{ticket.price}}</div>
				<div class="ticket-info__operator">{{ticket.tourOperator}}</div>
				<div class="ticket-info__description">{{ticket.description}}</div>
			</div>
		</div>
	</div>

	<div *ngIf="isLoggedIn; else notLoggedin" class="mt-5">
		<h2 class="my-5">Личная информация</h2>
		<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
			<span class="p-float-label">
			    <input id="first-name" type="text"
			           formControlName="clientName"
			           pInputText>
			    <ng-container *ngTemplateOutlet="userFormInput;
			              context: {inputId: 'first-name', label: 'Имя'}"
			    ></ng-container>
			</span>

			<span class="p-float-label mt-5">
			    <input id="last-name" type="text"
			           formControlName="clientSurname"
			           pInputText>
			    <label for="last-name">Фамилия</label>
			</span>

			<span class="p-float-label mt-5">
					<p-inputNumber id="cardNumber"
					               formControlName="cardNumber">
					</p-inputNumber>
			    <label for="cardNumber">Номер карты</label>
			</span>

			<span class="p-float-label mt-5">
				<p-calendar id="birthDay" dateFormat="dd.mm.yy"
							[(ngModel)]="maxDateValue"
							(click)="calcAge()"
							[maxDate]="maxDateValue"
							[minDate]="minDateValue"
				            formControlName="birthDay"></p-calendar>
			    <label for="birthDay">День рождения</label>
			</span>

			<span *ngIf="age" class="p-float-label mt-2">
				Возраст: {{age}}
			</span>

			<span class="p-float-label mt-5">
			    <input id="citizen" type="text"
			           formControlName="citizen"
			           pInputText>
			    <label for="citizen">Гражданство</label>
			</span>
			<button class="mt-5" pButton type="submit"
			        [disabled]="!userForm.valid"
			        label="Оформить"></button>
		</form>
	</div>

	<ng-template #notLoggedin>
		<h2 class="mt-5 mb-3">Авторизуйтесь для оформления заказа</h2>
		<app-authorization></app-authorization>
	</ng-template>

	<div class="mt-5">
		<h4>Поиск туров</h4>
		<div>
			<input #ticketSearch [(ngModel)]="ticketSearchValue" type="text" pInputText>
		</div>
	</div>

	<div *ngIf="nearestTours && nearestTours.length>0; else noTours" class="nearest-tours">
		<h2 class="my-5">Похожие туры</h2>
		<p-carousel [value]="nearestTours">
			<ng-template let-tour pTemplate="item">
				<div class="nearest-tour-img"
				     [ngStyle]="{background: 'url('+' http://localhost:3000/public/'+ tour.img +') center / cover'}"></div>
				<div class="h5 mt-2 text-center">{{tour.name}}. Регион: {{tour.location}} </div>
			</ng-template>
		</p-carousel>
	</div>

</div>


<ng-template #userFormInput let-inputId="inputId" let-label="label">
		<label for="{{inputId}}">{{label}}</label>
</ng-template>

<ng-template #noTours>
	<h3 class="my-5">Ничего не найдено</h3>
</ng-template>
