:host {
	display: block;
	//height: 60px;
	width: 100%;
	//position: relative;
}

.header-container{
	position: relative;
}

.info{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	& > *{
		text-align: right;
		font-size: 0.85em;
	}

	& .user{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 1rem;
		text-align: left;
		font-weight: 700;

		& i{
			margin-right: 1rem;
		}
	}

	& .time{
		background: #e6e6e6;
		display: flex;
		height: 100%;
		padding: 0 1rem;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
	}
}